*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
.container{
        width: 30vw;
        min-height: 28vw;
        background-color: #52b5de;
        border-radius: 10px;
        padding: 20px 10px;
}
.heading{
        width: 100%;
        /* background-color: yellow; */
        text-align: center;
        border-bottom: 1px solid lightgray;
        padding: 10px;
}
.addTask{
        width: 100%;
        padding: 10px;
        margin: 30px 0px;
        /* background-color: green; */
        display: flex;
        justify-content: space-between;
}
input{
        font-size: 21px;
        border-radius: 10px;
        border: none; 
        padding: 5px;
        text-indent: 10px;
}
button{
        font-size: 18px;
        border-radius: 10px;
        padding: 5px 10px;
        border: none;
        box-shadow: 2px 2px 2px;
        background-color: rgb(214, 214, 22);
}
 button:hover{
      background-color: #f4f414;
      cursor: pointer;
}

.task-List{
        width: 100%;
        padding: 5px;
        /* background-color: blue; */
        list-style-type: none;
}
li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin-bottom: 10px;
        border: 1px solid lightgray;
        padding: 5px;
        border-radius: 10px;
}