*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:  segoe UI;
}
.main{
        width: 100%;
        padding: 50px 10%;
        /* background-color: gray; */
}
.container{
        width: 100%;
        padding: 20px;
        /* background-color: red; */
}
.pagination{
        width: 100%;
        padding: 5px;
        /* background-color: yellow; */
        display: flex;
        justify-content: flex-end;
        column-gap: 10px;
}
.pagination  button{
        width: 30px;
        height: 30px;
}
.nums{
        display: flex;
        column-gap: 10px;
}
.header{
        width: 100%;
        /* background-color: yellow; */
        display: flex;
        justify-content: space-between;
}
.heading{
        font-size: 30px;
        font-weight: 300;
}
.search{
        width: 20%;
        font-size: 17px;
        text-indent: 20px;
        border-radius: 10px;
        outline: none;
        border: 1px solid gray;
}
.table{
        width: 100%;
        margin-top: 40px;
        border-collapse: collapse;
}
th, td{
        border: 1px solid lightgray;
        padding: 10px;
        font-size: 18px;
        text-align: center;
}